html{
  font-family: Helvetica;
}
h1{
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg');
}
h2{
  font-size: 32px;
  font-weight: bold;
  color: white;
}
#brushes{
  background-color: MediumSpringGreen;
}
#frames{
  background-color: LightCoral;
}
#paint{
  background-color: SkyBlue;
}
.price{
  font-weight: bold;
  color: blue;
}
